<h1>Liste des doses pour <%= @cocktail.name %> </h1>

<% @cocktail.doses.each do |dos| %>

  <p><%= dos.description %><b> de </b> <%= dos.ingredient.name %></p>
<% end %>

<p>Et un peu de vitriol</p>



